/.idea
/Library
/Logs
/obj
/Packages
/ProjectSettings
/Temp
*.csproj
*.sln
*.asset
*.unitypackage
/Assets/Gizmos
/Assets/Plugins
/Assets/Udon
/Assets/Scenes
/Assets/TextMesh*Pro
/Assets/SerializedUdonPrograms
/Assets/UdonSharp
/Assets/VRChat Examples
/Assets/VRCSDK
*.meta
*.user
